{{extend 'default/template.html'}}
 
 
 <div class="templatemo_right_panel_fullwidth_content">
				<ul  >
					<li class='about'>
					<h3>Doreen Mokeira Kebande</h3>
                    <img src="/MusicProject/static/images/doreen.jpg" alt="image" height= "150" width = "150" /> 
                    <p>Id number:120709B01</p>
					<p>email:doreenmokeira@yahoo.com</p>
					</li>
					<li class='about'>
					<h3>Damla Özdemir</h3>
                    <img src="/MusicProject/static/images/damla.jpg" alt="image" height= "150" width = "150" /> 
                    <p>Id number:1107090014</p>
					<p>email:dml-ozdmr@hotmail.com</p>
					</li>
				</ul>
					
					
					
</div> 
 
 